<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Fridg!t</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="icon" href="https://image.ibb.co/npJUXv/imageedit_1_9002351336_160.png">
  <link href="stylesheets/fridge.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Satisfy" />
</head>
<body>


  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo glyphicon glyphicon-home"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
        <li><a href="/login">Signup</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/login">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


<div class="total-container">

</div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center text-lighten-2" style="color: #FFE4E1; margin-top:130px; margin-bottom: 10px;font-family: Satisfy; font-size: 65;">Fridg!t</h1><br>
        <div class="row center" style="margin-top: 0px">
          <h5 class="header col s12 light" style="color: #FFE4E1; font-family: serif;">A visual grocery tracker and manager for minimal waste and maximal deliciousness  </h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container" style="background-color: rgba(255, 255, 255, 0.5);">
        <div class="row center">
          <h4 class="header col s12 light" style="font-family: Satisfy; color: tan;">Motivation: </h4>
          <p style="padding: 25px; font-family: serif; font-size: 16; color: #856d4c">Every year, Americans throw away over a third of our food supply. Roughly half of all produce is tossed into the garbage! Food is wonderful, and we all hate to waste it, but...life happens. Fridg!t is designed with busy people in mind, helping us take small but powerful steps to reduce waste, save money, and discover delicious new recipes! </p>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://dingo.care2.com/pictures/greenliving/1249/1248909.large.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">

      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container" style="background-color: rgba(255, 255, 255, 0.2);">
        <div class="row center">
          <h4 class="header col s12 light" style="font-family: Satisfy; color: #FFE4E1">Intuitive and easy to use, Fridg!t lets you:</h4>
          <p style="padding: 25px; font-family: serif; font-size: 16; color: #FFE4E1">Keep up with your kitchen from fresh produce to dried grains with automatic reminders, visualize your full stash of groceries on the go, sorted by freshness, and find new recipes using the ingredients that might otherwise go to waste!</p>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://cdn2.stylecraze.com/wp-content/uploads/2013/08/38-Benefits-Of-Lime-Kaccha-Nimbu-For-Skin-Hair-And-Health.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer">
    <div class="container" style="background-color: rgba(255, 255, 255, 0.2); margin-top: 50px">
      <div class="row">
        <div class="col s12">
          <h4 style="padding-left: 25px; font-family: Satisfy; color: white">About Us:</h4>
          <p style="padding-left: 25px; color: #FFE4E1; font-family: serif">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.

          A big thank you to bootsnipp.com, supercook.com, and the Horizons team!

        </p>
    </div>
    </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="/home">Fridg!t Team</a>
      </div>
    </div>
  </footer>
</div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  </body>
</html>
