<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- Website CSS style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<!-- <link rel="stylesheet" href="./frontend/assets/stylesheets/test.css"> -->
    <link rel='stylesheet' href='/stylesheets/shop.css' />
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Admin</title>
	</head>
  <body>

    <div class="container">
  		<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #e3f2fd; margin-bottom: 30px">
    		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    		</button>
    		<a class="navbar-brand" href="#">All Products</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto navbar-right" style="margin:0">
        <li class="nav-item">
          <a class="nav-link" href="/cart"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">

    	<!-- BEGIN PRODUCTS -->
  		{{#each shopItems}}
  			<div class="col-md-2 col-xs-5 thumbnail" style="margin:1em !important">
  				<span>
  						<img src="{{this.imageUrl}}" alt="..." style="height:200px !important; width:100%;text-align: center">
  						<h4 style="margin: 1em; text-align: center">{{this.name}}</h4>
  						<hr class="line">
  						<div class="row">
  							<div class="col-md-12 col-sm-12">
  								<p class="price">#{{this.category}}</p>
  							</div>
  							<div class="col-md-12 col-sm-12">
  							 <a href="/fetch"><button class="btn btn-info right" > Add to fridge</button></a>
  						 </div>
  						</div>
  				</span>
  			</div>
  		{{/each}}
  	<!-- END PRODUCTS -->
  </div>
  </div><!-------container----->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>
</html>
