<!DOCTYPE html>
<html>
<head>
  <title>Recipe Finder</title>
  <!-- <link rel='stylesheet' href='testpage.css' type="text/css"/> -->

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600|Titillium+Web:400,600' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Satisfy" />

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <style>
	.new-deal{width:100%;float:left;padding:15px 0;}
	.new-deal .item-slide{position: relative;overflow: hidden;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;margin:15px 0; -moz-border-radius: 25px; border-radius: 25px;-webkit-border-radius: 25px;}
	.new-deal .slide-hover{ position: absolute;height: 100%;width: 100%;left: -100%; background:rgba(224, 178, 150,.4);top: 0;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-moz-border-radius: 25px; border-radius: 25px;-webkit-border-radius: 25px;  }
	.new-deal .item-slide:hover .slide-hover{left:0px;}
	.new-deal img{max-width:100%;}
	.text-wrap {position: absolute;bottom: 0;left: 0;width: 100%;color: #fff;background: rgba(224, 178, 150, .4);z-index:999;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;}
	.text-wrap h4{padding:0 5px;}
	.box-img{width: 100%; height: 100%;  float: left;    -moz-border-radius: 25px; border-radius: 25px;-webkit-border-radius: 25px;    overflow: hidden;    border: 2px solid black;}
	.text-wrap .desc{width:100%;padding:0px 0px 15px 0px;}
	.text-wrap p{padding: 15px;font-size: 15px;text-align: center;font-weight: normal;text-shadow: 2px 2px 3px #000;}
	.text-wrap .desc h4{margin:0px;font: 400 17px/21px "Roboto";}
	.text-wrap .desc h3{margin:0px;font: 400 32px/36px "Roboto";}
	.new-deal .item-slide:hover .text-wrap{background:none}
	.book-now-c {float:right;padding:10px;}
	.book-now-c a {background: #d2a679; font-family: Ariel; color: black;padding: 5px;border-radius: 25px;margin-top:0px;float: left;min-width: 101px;text-align: center;font-size: 16px; border: 1px solid black;}
	.new-deal .item-slide:hover .box-img .text-wrap{bottom:-100%;}
</style>
</head>
<body style="background-image: url('https://static.pexels.com/photos/172292/pexels-photo-172292.jpeg')">
<section class="new-deal">
		 <div class="container">
		 <h1 style="font-family: Satisfy; font-size: 70px; text-decoration: bold; text-align: center; color:#331a00"> <span>Recipe Finder </span></h1>
		 <script>
			$.ajax({
		        url: 'http://www.supercook.com/dyn/results',
		        method: 'post',
		        data: {
		          needsimage: "1",
		          kitchen: '{{kitchenString}}',
		          focus: "",
		          kw: "",
		          catname: ",",
		          exclude: "",
		          start: "0"
		        },
		        success: function(resp){
		          var results = resp.results;
		          for (var item in results) {
				        	var html = `<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 deal deal-block">
											<div class="item-slide">
													<div class="box-img">
												<a href=${results[item].url}>
												<img height="100%" width="100%" src="http://d27bfab0aa6b39479cb3-cb8f43ffb46322cff58594e95a13ac65.r29.cf5.rackcdn.com/` + results[item].id + `.jpg"; alt=${results[item].title}/></a>
												<div class="text-wrap">
													<p style="font-family: Satisfy; font-size: 26px; padding: 0px 10px; color: 
														#ECD9C5">${results[item].title}</span></p>
														<div class="desc">
															<h4 style="font-size: 16px; color: #331a00; text-align: center">(Uses ${results[item].uses})</h4>`
														var missing = results[item].needs.join(', ');
														if (missing) html = html + `<span>Missing: ${results[item].needs}</span>`;
														 html = html + `</div>` +
														// <div class="book-now-c">								
														// <a id="save-recipe" style="color: black; text-decoration: none;">Save</a>
														// </div>
													`</div>
												</div>
												<div class="slide-hover">
												<div class="text-wrap">
												<p><a style="color:white; text-decoration: none; font-size: 24px; font-family: Satisfy" href=${results[item].url}>Click to Go To Recipe</a></p><br>
														<div class="book-now-c">
															<a id="save-recipe" style="text-decoration: none; color: black">Save</a>
														</div>
													</div>
												</div>
										</div>
									</div>`
				            $('.container').append(html);
		          }
		        },
		        error: function(err){
		          console.log("Failure getting recipes");
		        }
		      });
		    </script>
		 </div>
		 </section>
</body>

<script>
$('.container').on('click', '#save-recipe', function(e){
	$(this).text('Saved!')
})
</script>

</html>