<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <link rel='stylesheet' href='testpage.css' type="text/css"/>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600|Titillium+Web:400,600' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <style>
  :after,*{transition: all 0.35s ease;
			-webkit-transition: all 0.35s ease;
			-moz-transition: all 0.35s ease;
			-moz-transition: all 0.35s ease;
			-ms-transition: all 0.35s ease;
			-o-transition: all 0.35s ease;}
			img{max-width:100%;}
			.sample{background:#000;margin-bottom:15px;float:left;position:relative;text-align:center;line-height:100px;font-size:18px;position:relative;box-shadow:5px 5px 10px #888;overflow:hidden}
			.sample .top{position:absolute;top:5%; left:5%;width:90%;height:2px;background:#635012;}
			.sample .top:after{position:absolute;top:0; left:0;width:50px;height:2px;background:#d3b554;content:"";}
			.sample .right{position:absolute;top:5%; right:5%;height:90%;width:2px;background:#635012;}
			.sample .right:after{position:absolute;top:0; left:0;height:50px;width:2px;background:#d3b554;content:""}
			.sample .bottom{    position: absolute;    bottom: 5%;    right: 5%;    height: 2px;    width: 90%;    background: #542222;}
			.sample .bottom:after{position:absolute;top:0; right:0;width:50px;height:2px;background:#d3b554;content:""}
			.sample .left{    position: absolute;    bottom: 5%;    left: 5%;    height: 90%;    width:2px;    background: #542222;}
			.sample .left:after{ position:absolute;bottom:0; left:0;height:50px;width:2px;background:#d3b554;content:""}
			.sample:hover .top:after{width:100%;background:#fff}
			.sample:hover .left:after{height:100%;background:#fff}
			.sample:hover .bottom:after{width:100%;background:#fff}
			.sample:hover .right:after{height:100%;background:#fff}
			.sample:hover img{transform:scale(1.1)}
			</style>
</head>
<body>
<div class="container">
	<div class="row">
		<h1 class="text-center">Recipe Wizard</h1><br>
			<script>
			$.ajax({
		        url: 'http://www.supercook.com/dyn/results',
		        method: 'post',
		        data: {
		          needsimage: "1",
		          kitchen: '{{kitchenString}}',
		          focus: "",
		          kw: "",
		          catname: ",",
		          exclude: "",
		          start: "0"
		        },
		        success: function(resp){
		          var results = resp.results;
		          for (var item in results) {
		     			
		        //   	$.ajax({
				      //   url: results[item].url + '/',
				      //   dataType: 'html',
				      //   method: 'post',
				      //   error: function(err) {
				      //   	console.log("Error getting recipe");
				      //   },
				      //   success: function(resp){
				      //   	var img = $(resp).find('meta[property="og:image"]').attr('content');
				        	// var title = $(resp).find('meta[property="og:title"]').attr('content');
				        	var html = `<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="sample">
												<a href=`results[item].url`>
												<img src="http://d27bfab0aa6b39479cb3-cb8f43ffb46322cff58594e95a13ac65.r29.cf5.rackcdn.com/` + results[item].id + `.jpg";/></a>
												<span class="top"></span>
												<span class="right"></span>
												<span class="bottom"></span>
												<span class="left"></span>
											</div>
										</div>`
				            $('.row').append(html);
				      //   }
				      // });
		          }
		        },
		        error: function(err){
		          console.log("Failure getting recipes");
		        }
		      });
		    </script>
	</div>
</div>
</body>
</html>